nav{
    background-color: #141E61 !important;
}
.navbar-brand{
    color: #EEEEEE !important;
}

/* From uiverse.io by @alexmaracinaru */
.button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #787A91;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .button svg{
    color: #EEEEEE;
  }
  
  .button:hover {
    background: #787A91;
  }
  
  .button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  .button span{
      margin-right: 1rem;
      color: #EEEEEE;
  }
  
  a {
    text-decoration: none;
    color: #EEEEEE !important;
  }